body{
    padding-left: 15%;
    padding-right: 15%;

}
#titulo{
    position: relative;
    border-bottom: solid #aaa 0.125em;
    height: 200px;
}
#foto{
    
    position: absolute;
    top: 0px;
    right: 5%;
    width:200px;
    height: 200px;
}
h1{
    border: 1px solid #ccc;
    position:relative;
    top: 90px;
    margin-right: 201px;
    width: 95%;
}